<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url 'hm' %}">AITS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      {% if not user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'hm' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ab' %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'rg' %}">Register</a>
      </li>
      {% else %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'dsh' %}">Dashboard</a>
      </li>
      {% endif %}
    </ul>
    <ul class="navbar-nav ml-auto" style="margin-right:130px">
      {% if not user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'lg' %}">Login</a>
      </li>
      {% else %}
      <div class="dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown">{{user.username}}</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Profile</a>
      <a class="dropdown-item" href="#">ChangePassword</a>
      <a class="dropdown-item" href="{% url 'lgo' %}">Logout</a>
    </div>
  </div>
  {% endif %}
    </ul>
  </div>  
</nav>