{% extends 'html/base.html' %}
{% block content %}
<div class="container mt-4">
	<div class="card col-md-6 mx-auto shadow-lg">
		<h3 class="text-light text-center bg-dark my-2 p-2 border rounded">Update Log</h3>
		<form method="post">
			{% csrf_token %}
			<input type="text" name="s" value="{{p.sb}}" class="form-control my-2">
			<input type="text" name="t" value="{{p.title}}" class="form-control my-2">
			<textarea class="form-control my-2" row="5" name="d">{{p.des}}</textarea>
			<div class="row my-2">
				<a href="{% url 'mk' %}" class="btn btn-secondary mx-1 col-sm">Back</a>
				<input type="submit" name="Update" class="btn btn-success mx-1 col-sm">
			</div>
		</form>
	</div>
</div>
{% endblock %}